# Ignore everything in sites-available directory
/*

# Except
!.gitignore
!default.vhost
!fastcgi-cache.com.vhost
!multisite-subdirectory.com.vhost
!multisite-subdomain.com.vhost
!singlesite.com.vhost
!ssl.com.vhost
!ssl-fastcgi-cache.com.vhost