# Ignore everything but location_example and other examples
/*

# Except
!.gitignore
!location_example.conf
!netdata.conf
!grafana.conf
!prometheus.conf
!stub_status.conf
!wp-admin_example.conf
!auth-your-site_example.conf